{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block content %}

<!--Page Title-->
<section class="row">
    <div class="col-12 text-center heading-wrapper">
        <h3>Feature Ticket</h3>
    </div>
</section>
<!--/Page Title-->

<!--Introduction Paragraph-->
<section class="row opacity">
    <div class="col-12 text-center intro">
        <p><span class="feature-text">Feature</span> Tickets require a donation.<br>
            Please use the slider to select the ammount you wish to donate.<br>
            The minimum amount you can donate is £5.</p>
    </div>
</section>
<!--/Introduction Paragraph-->

<!--Ticket Form-->
<section class="container opacity form-wrapper">
    <form method="POST" id="payment-form">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        {{ payment_form | as_bootstrap }}
        <button class="btn" type="submit">Donate</button>
    </form>
</section>
<!--/Ticket Form-->

{% endblock %}

<!--Stripe API -->
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}