{% extends 'base.html' %}
{% block content %}


<section class="container">
    <div class="row">
        <!--Full Ticket-->
        {% if ticket.category.category == "Feature" %}
        <div class="col-12 col-lg-10 offset-lg-1 ticket-container feature-bg">
            {% else %}
            <div class="col-12 col-lg-10 offset-lg-1 ticket-container bug-bg">
                {% endif %}

                <p class="published-date">{{ticket.published_date}}</p>

                <h4 class="text-center">{{ticket.title}}</h4>
                {% if ticket.category.category == "Feature" %}
                <hr class="hr-blue">
                {% else %}
                <hr class="hr-red">
                {% endif %}
                <p class="ticket-details text-center">{{ticket.details}}</p>

                {% if ticket.category.category == "Feature" %}
                <p class="ticket-category">Type: <span class="feature-text">{{ticket.category}}</span></p>
                {% else %}
                <p class="ticket-category">Type: <span class="bug-text">{{ticket.category}}</span></p>
                {% endif %}
                {% if voted %}
                <p class="upvote voted"><i class="far fa-thumbs-up"></i><span> {{ticket.upvotes}}</span></p>
                {% else %}
                <a class="upvote" href="{% url 'upvote' ticket.id %}"><i class="far fa-thumbs-up"></i><span> {{ticket.upvotes}}</span></a>
                {% endif %}
                <br>
                {% if ticket.ticket_status.ticket_status == "Open" %}
                <p class="ticket-status">Status: <span class="open">{{ticket.ticket_status}}</span></p>
                {% else %}
                <p class="ticket-status">Status: <span class="closed">{{ticket.ticket_status}}</span></p>
                {% endif %}

                {% if user.email == ticket.email %}
                <div class="text-center">
                    <a href="{% url 'edit_ticket' ticket.id %}" class="btn"><i class="far fa-edit"></i></a>
                    <a href="#modal1" class="btn delete modal-trigger"><i class="far fa-trash-alt"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        <!--/Full Ticket-->

        <!--Materialize Modal-->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Delete Ticket</h4>
                <p>Warning! This will permanently remove your ticket from the database.</p>
                <p>Are you sure you want to delete this ticket?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn-flat" id="cancel">No</a>
                <a href="{% url 'delete_ticket' ticket.id %}" id="delete" class="modal-action modal-close waves-effect waves-green btn-flat">Yes, I'm sure</a>
            </div>
        </div>
        <!--/Materialize Modal-->
</section>

{% endblock %}