{% extends 'base.html' %}
{% block content %}

<main>

    <!--Logo-->
    <section class="row">
        <div class="col-12 text-center heading-wrapper">
            <h1>Unicorn Attractor</h1>
            <h3>Issue Tracker</h3>

        </div>
    </section>
    <!--/Logo-->

    <!--Introduction-->
    <section class="row opacity">
        <div class="col-12 text-center intro">
            <p>This is <span class="sm-logo">Unicon Attractor</span>'s Issue tracker!</p>
            <p>Unfortunately nothing is perfect and sometimes Unicorn Attractor dosen't seem work as well and even
                break.<br>
                Whether its a bug you have found or an idea for a new feature you can submit tickets.<br></p>
            <p><span class="bug-text">Bug</span> tickets are free and <span class="feature-text">Feature</span> tickets
                require a small donation.</p>
        </div>
    </section>
    <!--/Introduction-->

    <!--Tickets Section-->
    <section class="container-fluid opacity tickets-wrapper">

        <div class="col s12 tickets-heading">
            <h5>Tickets</h5>
            <div class="text-center">
                <a class="btn create-ticket-btn" href="{% url 'create_feature_ticket' %}">Create <span class="feature-text">Feature</span> Ticket<i class="fas fa-plus"></i></a>
                <a class="btn create-ticket-btn" href="{% url 'create_ticket' %}">Create <span class="bug-text">Bug</span> Ticket<i class="fas fa-plus"></i></a>
            </div>
        </div>

        {% for ticket in tickets %}
        <div class="row">
            {% if ticket.category.category == "Feature" %}
            <a href="{% url 'full_ticket' ticket.id %}" class="col s12 ticket mx-auto feature-bg">
                {% else %}
                <a href="{% url 'full_ticket' ticket.id %}" class="col s12 ticket mx-auto bug-bg">
                    {% endif %}
                    <p class="ticket-title">{{ticket.title}}</p>
                    {% if ticket.category.category == "Feature" %}
                    <hr class="hr-blue">
                    {% else %}
                    <hr class="hr-red">
                    {% endif %}
                    <p class="text-center ticket-details">{{ticket.details |truncatewords:20}}</p>
                    {% if ticket.category.category == "Feature" %}
                    <p class="ticket-category">Type: <span class="feature-text">{{ticket.category}}</span></p>
                    {% else %}
                    <p class="ticket-category">Type: <span class="bug-text">{{ticket.category}}</span></p>
                    {% endif %}
                    {% if ticket.ticket_status.ticket_status == "Open" %}
                    <p class="ticket-status">Status: <span class="open">{{ticket.ticket_status}}</span></p>
                    {% else %}
                    <p class="ticket-status">Status: <span class="closed">{{ticket.ticket_status}}</span></p>
                    {% endif %}
                </a>
        </div>
        {% endfor %}
    </section>
    <!--/Tickets Section-->

</main>

{% endblock %}