{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

<!--Page Title-->
<section class="row">
    <div class="col-12 text-center heading-wrapper">
        <h3>User Login</h3>
    </div>
</section>
<!--/Page Title-->
<!--Login Form-->
<section class="container opacity form-wrapper">
    <form method="POST">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <button class="btn" type="submit">Login</button>
    </form>
</section>
<!--/Login Form-->

{% endblock %}