{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}

<!--Page Title-->
<section class="row">
    <div class="col-12 text-center heading-wrapper">
        <h3>Registration</h3>
    </div>
</section>
<!--/Page Title-->
<!--Registration Form-->
<section class="container opacity login-form-wrapper">
    <form method="POST">
        {% csrf_token %}
        {{ registration_form | as_bootstrap }}
        <button class="btn" type="submit">Register</button>
    </form>
</section>
<!--/Registration Form-->
{% endblock %}