@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');



body {
    background-image: linear-gradient(to right, #16bffd, #cb3066);
    font-family: 'Roboto', sans-serif;
}

.opacity {
    background-color:#00000099;
}

//--------------Django messages-------------

.dj-message-wrapper {
    position: absolute;
    top: 11%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 5px 17px;
    color: #fff;
    border-radius: 16px;
    p {
        margin: 0;
    }
}


//---------------Navigation----------------------------

nav {
    background-color: #000000bf;
    .brand-logo {
        color: #fff;
        font-size: 22px;
        font-family: 'Pacifico', cursive;
        &:hover {
            text-decoration: none;
        }
    }
    .nav-wrapper .text-logo {
        margin-left: 5px;
        font-size: 25px;
        color: #fff;
    }
}

nav .side-nav {
    background-color: #00000099;
    a {
        color: #fff;
    }
}

nav ul a {
    color: #fff;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

nav .button-collapse i {
    color: #fff;
}


/*----------------Introduction-------------------------------------*/

.heading-wrapper {
    margin: 70px 0;
    h1, h3 {
        font-family: 'Pacifico', cursive;
        color: #fff;
        text-shadow: 0 0 5px #000, 0 0 15px #8d94e2, 0 0 20px #8d94e2, 0 0 25px #8d94e2, 0 0 30px #8d94e2, 0 0 35px #8d94e2;
    }
}
 .intro {
    padding: 15px 10px;
    p {
        color: #fff;
        font-size: 18px;
        .sm-logo {
            font-family: 'Pacifico', cursive;
            text-shadow: 0 0 5px #000, 0 0 15px #8d94e2, 0 0 20px #8d94e2;
        }
        .bug-text {
            color: #ca4172;
        }
        .feature-text {
            color: #1782f1;
        }
    }
 }


/*----------------Tickets-------------------------------------*/

.create-ticket-btn {
    margin: 0 15px 20px 15px;
    color: #000;
    background-color: #6a58cc;
    &:hover {
        background-color: #4e4194;
    }
    i {
        margin-left: 7px;
        font-size: 15px;
    }
}

.tickets-wrapper {
    padding-bottom: 10px;
}

.tickets-heading {
    color: #fff;
    h5 {
        padding: 15px 0;
        margin: 0;
    }
}

.feature-bg {
    background-color: #1782f1;
}

.bug-bg {
    background-color: #ca4172;
}

.feature-text {
    color: #1784f8;
}

.bug-text {
    color: #f01313;
}

.open {
    color: #f01313;
}
.closed {
    color: #12de12;
}

.ticket {
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 8px;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: #000;
        &:hover {
            border-color: #07c4fd;
            box-shadow: 0 0 19px 2px #07c4fd;
            transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -webkit-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
        }
    }
    p {
        margin: 0;
    }
    .ticket-title {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        margin-top: 4px;
    }
    .hr-blue, .hr-red {
        margin: 4px;
    }
    .ticket-category {
        display: inline-block;
        background-color: #00000091;
        border-radius: 10px;
        padding: 1px 5px;
        color: #fff;
    }
    .ticket-status {
        float: right;
        background-color: #00000091;
        border-radius: 10px;
        padding: 1px 5px;
        color: #fff;
    }
}

.hr-blue {
    background-color: #1259a2;
}

.hr-red {
    background-color: #a0375c;
}

/*------------------------Delete Modal------------------------------------*/

.modal {
    color: #fff;
    height: auto;
    background-color: transparent;
    .modal-content, .modal-footer {
        background-color: #000000bf;
    }
    #cancel {
        background-color: #1784f8;
        margin: 0 10px;
        &:hover {
            background-color: #0a4788;
        }
    }
    #delete {
        color: #fff;
        background-color: #f01313;
        margin: 0 10px;
        &:hover {
            text-decoration: none;
            background-color: #a10d0d;
        }
    }
}

/*----------------Full Ticket Page---------------------------------------------*/

.ticket-container {
    margin-top: 60px;
    margin-bottom: 300px;
    padding-bottom: 12px;
    border: 1px solid #000;
    border-radius: 10px;

    .published-date {
        font-weight: 500;
        margin: 5px;
    }
    .ticket-title {
        font-weight: 500;
    }
    .ticket-details {
        font-size: 17px;
    }

    .upvote {
        float: right;
        color: #fff;
        background-color: #00000091;
        border-radius: 10px;
        padding: 3px 5px;
        &:hover {
            text-decoration: none;
            border-color: #07c4fd;
            box-shadow: 0 0 19px 2px #07c4fd;
            transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -webkit-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
        }
        i {
            color: #1887fa;
            font-size: 20px;
        }
    }

    .ticket-status, .ticket-category {
        display: inline-block;
        color: #fff;
        background-color: #00000091;
        border-radius: 10px;
        padding: 1px 5px;
    }
    a {
        margin: 0 10px;
        padding: 0 10px 0 15px;
        background-color: #1bbbf9;
        &:hover {
            background-color: #0d7ba7;
        }
    }
    .delete {
        padding: 0 15px;
        background-color: #e72424;
        &:hover {
            background-color: #9e1c1c;
        }
    }
}

/*---------------Login Page, Registration Form, create/edit/feature ticket forms and User Profile Page----------------------------------*/

.form-wrapper {
    padding: 20px;
    margin-bottom: 160px;
    .form-control {
        color: #fff;
        background-color: transparent;
    }
    #id_category, #id_ticket_status {
        background-color: #00000091;
    }
    button {
        background-color: #33e279;
        &:hover {
            background-color: #26aa5b;
        }
    }
}

.alert-danger {
    background-color: #00000091;;
    border: none;
    border-radius: 16px;
    color: #fff;
}

.help-block, .error-msg {
    color: #fff;
}

.user-info {
    background-color: #00000091;
    border: none;
    border-radius: 16px;
    color: #fff;
    padding: 10px;
    margin-bottom: 350px;
    p {
        margin: 0;
    }
}

/*----------------Footer-------------------------------------*/

footer {
    background-color: #000000bf;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 6px;
    color: #fff;
    p {
        margin: 0px;
    }
    a {
        margin-left: 5px;
        color: #fff;
        &:hover {
            color: rgb(75, 75, 75);
        }
    }
}